/* Шрифты */
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

.hello_users {
	background-color: #161515;
}

.hello_users_header {
	margin-left: 65px;
	margin-right: 65px;
    margin-top: 48px;
}

.hello_users_header button{
	float: right;
}

.hello_users_header2  {
	text-align: center;
}

.hello_users_header2 h1 {
	    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 83px;
    align-items: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 116px auto 0;
    text-align: center;
	}

.hello_users_header2 p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	align-items: center;
	letter-spacing: 0.05em;
	align-items: center;
	color: #FFFFFF;
	margin: 10px auto 0;
}



/*
начало стилей для сладера
*/

.slider {
	width: 100%;
	overflow: hidden;
}

.middle {
	margin: 20px auto;
}

.navigation {
	position: absolute;
	left: 50%;
	bottom: 16px;
	transform: translateX(-50%);
	display: flex;
	z-index: 5;
}

.bar {
	height: 8px;
	width: 16px;
	margin: 6px;
	cursor: pointer;
	background-color: red;
	opacity: .5;
	border-radius: 10px;
	transition: all .4s ease;
}

.bar:hover{
	opacity: .8;
	transform: rotate(1.1);
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 400%;
	height: 100%;
	display: grid;
}

.slide {
	width: 25%;
	grid-column: 1;
	grid-row: 1;
	opacity: 0;
	transition: all 0.4s ease;
	z-index: 0;
}

.slide img {
	height: 100%;
	width: 100%;
}

#r1:checked ~ .s1 {
	opacity: 1;
	z-index: 3;
}
#r2:checked ~ .s2 {
	opacity: 1;
	z-index: 3;
}
#r3:checked ~ .s3 {
	opacity: 1;
	z-index: 3;
}
/*
конец стилей для сладера
*/
